<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boggle</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/static/script.js"></script>
</head>
<body>
  <table border="1">
    {% for row in board %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </table>

  <form>
    <input type="text" id="word-input" name="word" placeholder="Guess a word">
    <button id="submit">Submit</button>
    
  </form>
  <div id="message"></div>
  <div id="score"></div>
  <div>The High Score is:</div>
  <div id="highscore-value"></div>
  <div>Number of Plays:</div>
  <div id="plays-value"></div>
</body>
</html>